<ul class="report probes-report">
	<% for probe in probes %>
	<li class="probe-section">
		<h3><%= probe.title %><span style="float:right"><%= (Time.now - 3600 * 24 * days).strftime("%Y-%m-%d %H:%M") %> - <%= Time.now.strftime("%Y-%m-%d %H:%M") %></h3>
		<ul id="probe-<%= probe.id %>-widgets">

		</ul>
	</li>
	<hr style="clear:both; padding-bottom:0px; border:none;"/>
	<% end %>
</ul>