  <div class="field">
    <%= f.label :json_url %><br />
    <%= f.text_field :json_url %>
  </div>
	
  <div class="field">
    <%= f.label :widget %><br />
    <%= f.hidden_field :widget %>
  </div>
		