  <div class="field">
    <%= f.label :json_url %><br />
    <%= f.text_field :json_url %>
		<%= f.link_to_remove "del data source", :confirm => 'Êtes vous sûr de vouloir supprimer ce contenu ?' %>
  </div>
  <%= f.hidden_field :widget_id %>
		