<script id="widget-empty-template" type="text/x-jquery-tmpl">
<li class="widget service-status-disabled" id="${ name }" >
	<div class="card">
		<div class="face face-simple-view">
			<div class="widget-content">
			</div> <!-- end content -->
		</div> <!-- end face simple view -->
	</div> <!-- end card -->
</li> <!-- end widget -->
</script>

<script id="widget-details" type="text/x-jquery-tmpl">
<div class="tooltip">
	<span class="hours">${ hours }</span>:<span class="minutes">${ minutes }</span>:<span class="seconds">${ seconds }</span>
	<span class="value ${ alert_level }">${ value }</span>${ unit }
	{{if !details==0}}
	<table>
		{{each(name, detail) details}}
			<tr>
				<td>${name}</td>
				<td>${detail}</td>
			</tr>
		{{/each}}
	</table>
	{{/if}}
</div>
</script>