<script id="widget-empty-template" type="text/x-jquery-tmpl">
<li class="widget service-status-disabled" id="${ name }" >
	<div class="card">
		<div class="face face-simple-view">
			<div class="widget-content">
			</div> <!-- end content -->
		</div> <!-- end face simple view -->
	</div> <!-- end card -->
</li> <!-- end widget -->
</script>
