<script id="widget-empty-template" type="text/x-jquery-tmpl">
<li class="widget service-status-disabled" id="widget-${ widget.id }" >
	<div class="card">
		<div class="face face-simple-view">
			<div class="widget-content">
			</div> <!-- end content -->
		</div> <!-- end face simple view -->
	</div> <!-- end card -->
</li> <!-- end widget -->
</script>

<script id="widget-details" type="text/x-jquery-tmpl">
<div class="tooltip">
	<span class="hours">${ hours }</span>:<span class="minutes">${ minutes }</span>:<span class="seconds">${ seconds }</span>
	<span class="value ${ alert_level }">${ value }</span>${ unit }
	{{if !details==0}}
	<table>
		{{each(name, detail) details}}
			<tr>
				<td><span>${name}</span></td>
				<td><span>${detail}</span></td>
			</tr>
		{{/each}}
	</table>
	{{/if}}
</div>
</script>

<script id="widget-graph" type="text/x-jquery-tmpl">
<div class="widget-content">
  <h3>${ widget.title }</h3>
  <h4 class="status-ok"><span>${ record.value }</span><span class="discreet">${ widget.unit }</span></h4>
  <div class="plot-chart"></div>
</div> <!-- end content -->
</script>
