$main-color: 						white;
$inverted-color: 				invert($main-color);
$shadow-color:					rgba(black, 0.4);

$card-background-color:	lighten($inverted-color, 30);
$card-status-size:			6px;
$card-status-color:			rgba($main-color, 0.70);
$card-title-size:				20px;
$card-padding:					10px;

$card-width:						140px;
$card-height:						100px;

$status-fail-color: 		hsl(5, 100%, 60%);
$status-warning-color: 	$main-color; 
$status-alert-color:	 	hsl(5, 100%, 60%); //#ff4433; 
