@import "_init.css.scss";

* { 
	
	margin:0; 
	padding:0;
  font-family:Helvetica Neue, Arial, Sans serif;
	letter-spacing:1px;
}

html {
	
	background:rgba($inverted-color, 0.80);
}

body {
	
	//background: rgba($main-color, 0.16);
	color: 			rgba($main-color, 0.7);
	//text-shadow:0px 1px 1px rgba(black,0.9);
	height:			100%;
	//box-shadow: 0px 1px 3px rgba(0,0,0,0.4);
}

#page {

	margin-top: 10px;
	margin-left:auto;	
	margin-right:auto;
	padding-bottom: 40px;
	/* overflow:hidden; */
}

.size-medium #page {
	
	width: 960px;
}

h2 {
	
	margin-top: 30px;
	margin-bottom: 20px;
	color: rgba($main-color, 0.7);
	font-weight: 100;
	letter-spacing:3px;
}

a {
	
	color:						rgba($main-color, 0.40);
	text-decoration: 	none;
	font-weight:100;
	letter-spacing:2px;
}

a:hover {
	
	color:						rgba($main-color, 0.40);
}

table {
	
	width: 100%;
	font-weight:100;
	letter-spacing:3px;
	tr:hover {
		background:rgba($main-color, 0.04);
	}
	th {
		text-align:left;
	}
	td {
		color: rgba($main-color, 0.5);
		letter-spacing:2px;
	}
}

hr {
	
	border-top: 1px solid rgba($main-color, 0.3);;
	border-bottom:none;
	border-left:none;
	border-right:none;
	margin-top: 10px;
	margin-bottom: 10px;
}

.subform {
	
	padding: 0px 0px 0px 20px;
	margin: 10px 0px 10px 0px;
	border-left: 3px solid rgba($main-color, 0.1);
}

.remove_nested_fields,
.add_nested_fields { 
	font-weight: 100;
	/* border: 1px solid #555; 
	padding: 5px;*/
}

.field {
	
	margin: 5px 0px 15px 0px;
	label {
		letter-spacing:3px;
		font-weight: 100;
		margin: 0px 0px 5px 0px;
	}
}

input, select {
	background-color: rgba($inverted-color, 0.5);
	color:						rgba($main-color, 0.8);
	padding:					5px;
	border:						rgba($inverted-color, 0.2);
	margin-top:				5px;
}

input[type=submit] {
	
	background-color: rgba($main-color, 0.9);
	color:			rgba($inverted-color, 0.8);
	padding:		7px;
	border:			none;
	margin: 		10px 0px 10px 0px;
	clear:			both;
}

.CodeMirror {
  font-size: 12px;
	box-shadow: inset 0px 0px 3px rgba(0,0,0,0.9);
}

// button sizes
 
.button {
	border-radius: 3px;
	border:1px solid rgba($main-color, 0.3);
	color:rgba($main-color, 0.6);	
	font-weight: 100;
	
	&.button.small {
		font-size: 12px;
		margin: 0px 4px;
		padding: 1px 5px;
	}
	&.button.medium {
		font-size: 14px;
		margin: 0px 4px;
		padding: 5px 10px;
	}
}

.input {
	border-radius: 3px;
	padding: 7px 12px;
	font-weight: 100;
	color:rgba($main-color, 0.6);	
	margin:0;
}


// button styles
 
.button {
	background:rgba($main-color, 0.05);	
	background: -webkit-linear-gradient(top, rgba($main-color, 0.03) 0%,rgba($main-color, 0.07) 100%);
	text-shadow: 0px 1px 0px rgba($inverted-color,0.8);
//	color: rgba($main-color, 0.8);
	border:1px solid rgba($main-color, 0.1);	
	box-shadow: 0px 1px 2px rgba(0,0,0,0.4);
	//			inset	0px 1px 1px rgba(255,255,255,0.05);	
	padding: 5px 10px;	
	&.disabled { opacity:0.4; cursor:default;}
	&.dropdown-button {
		.dropdown-caret { margin-top:6px; margin-left:4px;}
	}
}
.button.discreet {
	box-shadow: none;
	border: none;
	position:relative;
	top: 2px;
	background: none;
}
.dropdown-caret {
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid rgba($main-color, 1);
  display: inline-block;
  height: 0;
  opacity: 0.3;
  vertical-align: top;
	margin-top:5px;
  width: 0;
}

.button.red {
	background:#D34843;	
	background: -webkit-linear-gradient(top, #e02f32 0%,#ad030e 100%); /* Chrome10+,Safari5.1+ */	color: white !important;
	border:1px solid #882020;	
	box-shadow: 0px 1px 2px rgba(0,0,0,0.2),
				inset	0px 1px 1px rgba(255,255,255,0.2);
	text-shadow: 0px -1px 0px rgba(0,0,0,0.3);
}
.button.blue {
	background:#006ACC;	
	background: -webkit-linear-gradient(top, #4096ee 0%,#3370bf 100%); 
	color: white !important;
	border:1px solid #006ACC;	
	box-shadow: 0px 1px 2px rgba(0,0,0,0.4),
				inset	0px 1px 1px rgba(255,255,255,0.2);
	text-shadow: 0px -1px 0px rgba(0,0,0,0.3);
	&.disabled { opacity:0.2; cursor:default;}
}

.input {
	background: rgba($inverted-color, 1);
	box-shadow: inset 0px 1px 2px rgba(0,0,0,0.4);
	
	&.disabled { opacity:0.2; cursor:not-allowed;}
}