// Place all the styles related to the Probes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "_init.css.scss";

.probe-header {
	border-bottom: 1px solid rgba($main-color, 0.05);
	// background: #f8f8f8;
	clear:both;
	font-weight: 200;
	font-size: 12px;
	padding: 3px 0px;
	list-style:none;
	color:rgba($main-color, 0.1);
	
	span.visibility-caret {
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid rgba($main-color, 1);
    display: inline-block;
    height: 0;
    opacity: 0.3;
    vertical-align: top;
		margin-top:5px;
    width: 0;
	}
	span.visibility-caret:hover {
		cursor:pointer;
	}
	
	span.probe-title {
		padding-left:0px;
		color:rgba($main-color, 0.2);
	}
	span.probe-url {
		padding-left:10px;
		color:rgba($main-color, 0);
	}
	span.probe-config a {
		color:rgba($main-color, 0.1);
		float:right;
	}
	span.probe-config a.probe-edit { display:block; }
	span.probe-config a.probe-ok { display:none; }
	span.probe-config a.probe-cancel { display:none; }
	
	/* display widgets when visible */
	.widgets {
		display:block;
	}
	
}

.probe-header:hover,
.probe-header.editing {

	span.probe-title{
		padding-left:0;
		color:rgba($main-color, 0.8);
	}
	span.probe-url {
		padding-left:10px;
		color:rgba($main-color, 0.2);
	}
	span.probe-config a {
		color:rgba($main-color, 0.8);
		font-weight: 200;
		float:right;
	}
} 

.probe-header.editing {
	span.probe-config a.probe-edit { display:none; }
	span.probe-config a.probe-ok { display:block; }
	span.probe-config a.probe-cancel { display:block; }
	span.probe-title{	cursor:pointer; }
	span.probe-url { cursor:pointer; }

}

.probe-header.hidden {
	span.visibility-caret {
  	border-bottom: 4px solid transparent;
    border-top: 4px solid transparent;
    border-left: 4px solid rgba($main-color, 1);
    display: inline-block;
    height: 0;
    opacity: 0.3;
    vertical-align: top;
    width: 0;
		margin-top:4px;
	}
	
	/* hide widgets when hiddenmode */
	.widgets {
		display:none;
	}
}
