// Place all the styles related to the Probes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "_init.css.scss";

.probe-header {
	// background: #f8f8f8;
	clear:both;
	font-weight: 200;
	font-size: 12px;
	padding: 3px 3px;
	list-style:none;
	color:rgba($main-color, 0.1);
	
	span.visibility-caret {
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid rgba($main-color, 1);
    display: inline-block;
    height: 0;
    opacity: 0.3;
    vertical-align: top;
		margin-top:5px;
    width: 0;
	}
	span.visibility-caret:hover {
		cursor:pointer;
	}
	
	span.probe-title {
		margin-left:2px;
		color:rgba($main-color, 0.2);
	}
	
	span.probe-url {
		margin-left:10px;
		color:rgba($main-color, 0);
	}
	
	span.probe-config a {
		color:rgba($main-color, 0.8);
		//opacity: 0.3;
		float:right;
		margin-left:10px;
		padding: 0px 5px;
		font-weight:200;
		font-size: 12px;
		font-family: Helvetica;
		margin-top: -7px;
	}
	
	span.probe-config a.probe-edit,
	span.probe-config a.probe-add-widget
	{
		opacity:0.1;
	}
		
	/* display widgets when visible */
	.widgets {
		display:block;
	}
	.probe-title-bar {
		border-bottom: 1px solid rgba($main-color, 0.05);
	}
	
}

.probe-header .probe-title-bar { clear:both;}

.probe-header .probe-title-bar:hover,
.probe-header.editing .probe-title-bar {

	span.probe-title{
		color:rgba($main-color, 0.5);
	}
	span.probe-url {
		color:rgba($main-color, 0.3);
	}
	span.probe-config a.probe-edit,
	span.probe-config a.probe-add-widget
	{
		opacity: 0.7;
		/* font-weight: 200; */
		float:right;
	}
} 
.probe-header span.probe-config a.probe-edit:hover,
.probe-header span.probe-config a.probe-add-widget:hover {
	opacity: 1 !important;
}

.probe-header.editing {
	span.probe-title {	border: 1px dashed rgba($main-color, 0.1); padding:0px 0px; }
	span.probe-url { border: 1px dashed rgba($main-color, 0.1); padding:0px 0px; }

}

.probe-header.hidden {
	span.visibility-caret {
  	border-bottom: 4px solid transparent;
    border-top: 4px solid transparent;
    border-left: 4px solid rgba($main-color, 1);
    display: inline-block;
    height: 0;
    opacity: 0.3;
    vertical-align: top;
    width: 0;
		margin-top:4px;
		margin-left:2px;
	}
	
	/* hide widgets when hiddenmode */
	.widgets {
		display:none;
	}
}

.dropdown .dropdown-menu li > a, .dropdown .dropdown-menu label {
	font-weight:400;
}
.discreet {
	color: rgba($main-color, 0.3);
}

.add-widget-form { 
	box-shadow: inset 0px 1px 3px rgba(0,0,0,0.3);
	background: rgba($main-color, 0.03);
	border-radius: 3px;
	padding: 20px 20px;
	margin-bottom: 10px;
	clear:both;
}