* { 
	margin:0; 
	padding:0;
  font-family:Arial, Sans serif;
	letter-spacing:1px;
}

body {
	background: #fff;
	color: #888;
}

#page {

	margin-top: 10px;
	margin-left:auto;	
	margin-right:auto;
	overflow:hidden;
}

.size-medium #page {
	width: 960px;
}

h2 {
	margin-top: 20px;
	color: #888;
}

a {
	color:#bbb;
	text-decoration: none;
}
a:hover {
	color:#ddd;
	text-decoration: none;
}

hr {
	border-top: 1px solid #666;
	border-bottom:none;
	border-left:none;
	border-right:none;
	margin-top: 10px;
	margin-bottom: 10px;
}