// Place all the styles related to the templates controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.plot-chart {
	width:140px; 
	height:50px; 
	margin-left:auto;
	margin-right:auto; 
	margin-top:5px; 
	position:relative; 
	left:-10px;
}