// Place all the styles related to the templates controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "_init.css.scss";

.plot-chart {
	
	width:$card-width - $card-padding - 80; 
	height:95px; 
	margin-left:auto;
	margin-right:auto; 
	margin-top:2px; 
	position:relative; 
	left:-30px;
	top:-25px;
}

.html5-textarea {
	
	background:#222; 
	overflow:scroll; 
	outline:0px solid transparent;
}

.tickLabel { display:none;}

//.base { display:none;}