// Place all the styles related to the widgets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "_init.css.scss";

#widgets {
	
	margin: 10px auto 30px auto;
	width:100%;
	float:left; clear:both;
}

.widget {
	
	list-style:none;
	font-family:Arial, Sans serif;
	font-size: 12px;
	float: left;
	width: $card-width;
	min-height:$card-height;
	margin-right:10px;
	margin-bottom:10px;
}

.card {
	
	float: left;
	width: $card-width;
	min-height:$card-height;
	padding:$card-padding;
	border-radius: 3px;
	border-top:$card-status-size solid $card-status-color;
	box-shadow: 0px 3px 8px $shadow-color;
	background: $card-background-color;
	
	&.flipped {
		background-color: darken($card-background-color, 20);
	}
}


.service-status-fail {

	.card			{ border-top-color: $status-fail-color; }
	h3				{ color: $status-fail-color; }
}

.service-status-warning {
	
	.card			{ border-top-color: $status-warning-color; }
	h3				{ color: $status-warning-color; }
}

.service-status-alert 		{ 
	
	.card 		{border-top-color: $status-alert-color; }
	h3				{ color: $status-alert-color; }
}


.widget {
	
	-webkit-perspective: 800;
	/* position: relative; */
}

.widget .card.flipped {
	
	-webkit-transform: rotateY(180deg);
}

.widget .card {
	
	width: $card-width - $card-padding * 2;
	height: $card-height - $card-padding * 2;
  -webkit-transform-style: preserve-3d;
  -webkit-transition: 0.3s;	
}

.widget .card .face {
	
	width: $card-width - $card-padding * 2;
  height: $card-height - $card-padding * 2;
	position: absolute;
	-webkit-backface-visibility: hidden ; 
}

.widget .card .face-simple-view {
	
	z-index: 2;
}

.widget .card .face-detail-view {
	
	-webkit-transform: rotateY(-180deg);
}


/*
.widget .widget-content-simple { display:block;}
.widget .widget-content-detail { display:none;}

.widget.detail .widget-content-simple { display:none;}
.widget.detail .widget-content-detail { display:block;}
*/

.widget-content {
	/* background:red; */
	//float:left;
	width: $card-width - $card-padding * 2;
  height: $card-height;
	overflow:scroll;	
}

.widget-content {
	
/*	box-shadow: 0px -3px 1px rgba(0,0,0,0.5) inset;*/
}


/* minimal view  */

.face-simple-view h3 {
	
	text-align:center;
}

.face-simple-view h3 span {
	
	font-family:Helvetica Neue, Arial Sans serif;
	font-weight:200;
	font-size: $card-title-size;
	letter-spacing: 6px;
}

.face-simple-view h3 span.discreet {
	
	opacity: 0.5;
}

.face-simple-view h4 {
	
	font-family:Helvetica Neue, Arial Sans serif;
	font-size: 11px;
	font-weight:200;
	letter-spacing:2px;
	text-align:center;
}


/* detailed view */

.face-detail-view {
	color: rgba($main-color, 0.6);
}

.face-detail-view h2 {
	
	padding-bottom: 10px;
	text-align:center;
}

.face-detail-view h2 {
	
	text-align:left;
}

.face-detail-view h3 a {
	
	color: rgba($main-color, 0.9) !important;
	font-weight: 500;
}

.widget li {
	
	list-style:none;
}

.widget .status {

}

.widget h2 a {
	
	text-decoration:none;
}

.widget .value {
	
	float:right;
}

.widget table {
	
	width: 100%;
	font-size: 12px;
}

.widget table thead td {
	
	font-weight:bold;
}

.widget table tr td {
	
	text-overflow:ellipsis;
	max-width:110px;
	overflow:hidden;
	display:block;
}

.widget table tr td:last-child {
	
	text-align:right;
}
