<script id="add-widget-template" type="text/x-jquery-tmpl">
	<div class="add-widget-form">
		<a href="#" data-dropdown="#probe-${probe_id}-list-modules"  class="button dropdown-button module-dropdown"><b>modules</b><span class="dropdown-caret"> </span></a>
		<a href="#" data-dropdown="#probe-${probe_id}-list-commands" class="button dropdown-button command-dropdown"><b>commands</b><span class="dropdown-caret"> </span></a>
		<input type="text" class="widget-args-input input" value="" />
		<a href="#" class="button blue add-widget-button"><b> + add widget</b></a>
	</div>
</script>

<script id="list-probe-modules" type="text/x-jquery-tmpl">
	<div id="probe-${probe_id}-list-modules" class="dropdown dropdown-tip">
		<ul class="dropdown-menu">
		{{each(i, module) modules}}
			<li><a href="#1" data-uri="${module}" class="probe-module">${module}</a></li>
	  {{/each}}
		</ul>
	</div>
</script>

<script id="list-probe-commands" type="text/x-jquery-tmpl">
	<div id="probe-${probe_id}-list-commands" class="dropdown dropdown-tip">
		<ul class="dropdown-menu">
		{{each(i, command) commands}}
			<li>
				<a href="#1" class="probe-command" data-command="${JSON.stringify(command)}" data-module="${module}">
				${command.title} <span class="discreet">(${command.unit})</span>
				</a>
			</li>
	  {{/each}}
		</ul>
	</div>
</script>