<script id="probe-template" type="text/x-jquery-tmpl">
<li class="probe-header ${ probe.hidden_class }" id="probe-${ probe.id }">
	<div class="probe-title-bar">
		<span class="visibility-caret"> </span>
		<span class='probe-title'>${ probe.title }</span>
		<span class='probe-url'>${ probe.url }</span>
		<span class='probe-config'>
			<a href='' class='probe-ok button blue'><b>done</b></a>
			<a href='' class='probe-cancel'>cancel</a>		
			<a href='' class='probe-add-widget button'><b> + add widget</b></a>
			<a href='' class='probe-edit button'><b>edit</b></a>
		</span>
	</div>
	<ul id="probe-${ probe.id }-widgets" class="widgets">				

	</ul>
</li>
</script>

